Based on Question 2, implement all queries and the ingestion/extraction process of Appendix A in Python.

Setup database connection through Microsoft SQL Server Management Studio

In [1]:
import pandas as pd
import pyodbc 

conn = pyodbc.connect('Driver={SQL Server};'
                      'Server=HYDRA016\SQLEXPRESS01;'
                      'Database=Bookstore POS System;'
                      'Trusted_Connection=yes;')

df = pd.read_sql_query('SELECT * FROM customers', conn)

print(df)
print(type(df))

   id         name                    email            tel  \
0   1  Irfan Bakti     irfan88@example.com    +60123456789
1   2  Jack Smmith      jack.smmith@acme.io  +60132456781
2   3        Nazir                     None  +601185434012
3   4      Faiz Ma        faiz.ma@jholow.cn   +6019772002
4   5   Isham Rais        isham@pmo.gov.my   +60135482020
5   6  Shanon Teoh  shahnon.teoh@st.com.sg            None

           created_at          updated_at
0 2019-08-07 08:13:00 2019-08-07 08:13:00
1 2019-08-07 08:13:00 2019-08-07 08:13:00
2 2019-08-07 08:13:00 2019-08-07 08:13:00
3 2019-08-07 08:13:00 2019-08-07 08:13:00
4 2019-08-07 08:13:00 2019-08-07 08:13:00
5 2019-08-07 08:13:00 2019-08-07 08:13:00
<class 'pandas.core.frame.DataFrame'>

Convert the string parameters to the str type

In [2]:
from six import string_types

a.	Show schema generation query

In [3]:
data = pd.read_sql('''select s.name as schema_name, s.schema_id, u.name as schema_owner from sys.schemas s 
                    inner join sys.sysusers u on u.uid = s.principal_id order by s.name''', conn)
print (data)

           schema_name  schema_id        schema_owner
0       db_accessadmin      16385      db_accessadmin
1    db_backupoperator      16389   db_backupoperator
2        db_datareader      16390       db_datareader
3        db_datawriter      16391       db_datawriter
4          db_ddladmin      16387         db_ddladmin
5    db_denydatareader      16392   db_denydatareader
6    db_denydatawriter      16393   db_denydatawriter
7             db_owner      16384            db_owner
8     db_securityadmin      16386    db_securityadmin
9                  dbo          1                 dbo
10               guest          2               guest
11  INFORMATION_SCHEMA          3  INFORMATION_SCHEMA
12                 sys          4                 sys

b.	Show the SQL query for number of customers purchasing more than 5 books

In [4]:
data2 = pd.read_sql('''SELECT b.name, sum(a.[quantity]) AS total_qty FROM invoice_lines a,customers b, invoices c 
                    WHERE a.invoice_id=c.id AND b.id=c.customer_id GROUP BY name
                    HAVING sum(a.[quantity]) > 5''', conn)
print (data2)

          name  total_qty
0  Jack Smmith          6
1  Shanon Teoh         11

c.	Show the SQL query for a list of customers who never purchased anything

In [5]:
data3 = pd.read_sql('''SELECT a.name, a.id from customers a 
                    LEFT JOIN invoices b  on a.id=b.customer_id WHERE b.id IS NULL''', conn)
print (data3)

         name  id
0     Faiz Ma   4
1  Isham Rais   5

d.	Show the SQL query for list of book purchased with the users

In [6]:
data4 = pd.read_sql('''SELECT b.name, a.quantity, a.[description]
                    FROM invoice_lines a,customers b, invoices c 
                    WHERE a.invoice_id=c.id AND b.id=c.customer_id''', conn)
print (data4)

          name  quantity description
0  Irfan Bakti         1     Book #1
1  Jack Smmith         4     Book #2
2  Jack Smmith         1     Book #3
3  Jack Smmith         1     Book #1
4        Nazir         1     Book #1
5        Nazir         1     Book #2
6  Shanon Teoh         5     Book #1
7  Shanon Teoh         6     Book #3